.video {
  background-color: #e5ccc6;
  &__container {
    // min-height: 500px;
    padding-top: 60px;
    @media (min-width: $screen-md-min) {
      min-height: 550px;
      padding-top: 100px;
    }
  }
  &__title {
    padding-bottom: 25px;
    // padding-top: 35px;
    margin: 0;
  }
  &__main-text {
    padding-bottom: 30px;
    margin: 0;
  }
  &__icons {
    margin-bottom: 20px;
  }
  i {
    text-align: center;
    min-width: 25px;
    background-color: $text-grey;
    color: white;
    margin-right: 20px;
    padding: 5px;
  }
  &__description {
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }
  &__container-training{
    padding-top: 15px;
    margin-top: 70px;
    @media (min-width: $screen-md-min) {
      padding-top: 30px;
    margin-top: 100px;
    }
  }
}
